.contactHero ul li:last-child {
  text-decoration: $yellow underline;
  text-decoration-thickness: 3px;
}

.contactFooter {
  background: $ice;
}

.footerContainer {
  display: flex;
  justify-content: space-evenly;


  form {
    width: 70%;
    text-align: center;
    padding: 50px;
    max-width: 900px;
    box-shadow: 15px 15px 0 0 $yellow;
    margin-top: -300px;
    margin-bottom: 100px;
    margin-left: -150px;
    background: white;

    .nameEmail {
      display: flex;
      justify-content: space-between;
    }

    .formInput {
      width: 47%;
      margin-bottom: 40px;
    }

    input {
      width: 100%;
      padding: 20px 0px 20px 10px;
      border: none;
      border-bottom: 2px solid $evergreen;
    }

    textarea {
      width: 100%;
      height: auto;
      margin: 20px 0;
      padding: 20px;
      resize: none;
      border: 2px solid $evergreen;
    }

    ::placeholder {
      text-transform: uppercase;
      font-family: $secondary;
    }

    .button {
      width: 100%;
      text-transform: uppercase;
      padding: 10px 0;
      border: none;
    }

  }
}

.info {
  margin-top: -120px;

  ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;

    a {
      text-decoration: none;
      padding-right: 20px;
      color: $evergreen;
      font-size: 20px;
    }
  }

  p {
    line-height: 10px;
  }

}

// ------------
// RESPONSIVE
// ------------

// TABLET
@media (max-width: 1045px) {

  .footerContainer {
    flex-direction: column;
    align-items: center;

    form {
      width: 100%;
      margin: -250px 0 200px 0;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap
  }

  .contactInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }
}
