.contactFooter {
  background: $ice;
}

.footerContainer {
  display: flex;
  justify-content: space-evenly;


  form {
    width: 60%;
    text-align: center;
    padding: 50px;
    max-width: 820px;
    box-shadow: 15px 15px 0 0 $yellow;
    margin-top: -300px;
    margin-bottom: 100px;
    background: $white;

    .nameEmail {
      display: flex;
      justify-content: space-evenly;
    }

    input {
      width: 50%;
      margin: 0 10px;
    }

    textarea {
      width: 100%;
      height: auto;
      margin: 20px 10px;
    }

    ::placeholder {
      text-transform: uppercase;
      margin: 10px;
      font-family: $secondary;
    }

    .button {
      width: 100%;
    }

  }
}
.info ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;

  a {
    text-decoration: none;
    padding-right: 20px;
  }
}