// VARIABLES

$white: #F5F5F5;
$black: #151514;
$yellow: #F8FB05;
$evergreen: #065635;
$ice: #E0FDDF;

$primary: 'Kumar One', cursive;
$primaryOutline: 'Kumar One Outline', cursive;
$secondary: 'Lato', sans-serif;

// WRAPPER

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

// IMAGE
img {
  width: 100%;
  max-width: 100%;
  display: block;
}

// BUTTON
.button {
  background-color: $evergreen;
  padding: 8px 20px;
  text-decoration: none;
  color: $white;
  font-family: $primary;
}

