@mixin primaryFont($sizeValue) {
  font-size: $sizeValue;
  font-family: $primary;
  color: $black;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin secondaryFont($sizeValue) {
  font-size: $sizeValue;
  font-family: $secondary;
  color: $black;
  font-weight: 200;
  line-height: 32px;
}

@mixin headerFont ($sizeValue) {
  font-size: $sizeValue;
  font-family: $primaryOutline;
  font-weight: 100;
  text-transform: uppercase;
}
